a {
    color: RoyalBlue;
}
a:focus,
a:hover {
    color: SteelBlue;
}
h2 {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625;
}
div.browser {
    display: flex;
    flex-direction: row;
    background-color: White;
}
div.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
div.tablist {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
div.tablist button.tab {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: Darkorchid;
    text-align: left;
    border-color: SteelBlue;
    border-left-width: 0.15rem;
}
div.tablist button.tab[disabled] {
    pointer-events: none;
    cursor: default;
    color: SteelBlue;
    border-top-width: 0.15rem;
    border-bottom-width: 0.15rem;
    border-right-width: 0.15rem;
    border-left-width: 0rem;
}
div.twoside {
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    flex-direction: row;
}
div.line {
    margin-bottom: 0.5rem;
    width: 100%;
}
div.twoside label {
    width: 25%;
    text-align: right;
}
div.twoside span.value {
    font-style: italic;
}
div.line div.value {
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem;
}
