a {
    color: RoyalBlue;
}
a:focus,
a:hover {
    color: SteelBlue;
}
.button:focus,
.button:hover {
    color: SteelBlue;
}
.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.alert {
    margin-bottom: 0px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: Khaki;
}
.alert-info {
    color: RoyalBlue;
}
.alert-warning {
    color: Orchid;
}
.alert-danger {
    color: Crimson;
}

div.viewport {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.viewport-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.footer {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: Teal;
    padding: 0.5rem;
    text-align: center;
}

div.left-half {
    width: 50%;
    text-align: left;
}

div.right-half {
    width: 50%;
    text-align: right;
}

div.navbar {
    display: flex;
    padding: 0.5rem;
    background-color: Whitesmoke;
}

div.navbar img.logo {
    display: inline-block;
    height: 2rem;
}

div.navbar span.info {
    color: DarkSlateGray;
    vertical-align: bottom;
    white-space: nowrap;
}

div.navbar div.toolbar {
    flex-grow: 1;
    text-align: right;
}

div.navbar div.toolbar button {
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    color: Orchid;
    appearance: none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-left: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.actionbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.25rem;
    padding-top: 0.5rem;
}

div.actionbar .button {
    display: inline-block;
    flex: none;
    appearance: none;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    background-color: DarkOrchid;
    color: White;
}

div.actionbar .button.danger {
    background-color: Crimson;
}

@media (min-width: 1024px) {
    html {
	font-size: 18px;
    }
    div.viewport {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
    }
}
